/* Simple Statuspage Stylesheet */

@import url(https://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #666;
  color: #fff;
  font-family: 'Open Sans', arial, sans-serif;
  width: 960px;
  margin: 0 auto 0 auto;
}

.dark-mode {
  background-color: #fff;
  color: #666;
}

header {
  display: block;
  height: 140px;
  border-bottom: 5px solid #000;
  margin-bottom: 30px;
}

h1 {
  font-weight: normal;
  margin: 28px 0 0 0;
  float: left;
  width: 225px;
  height: 90px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h2 {
  font-size: 2.4em;
  margin: 0.7em 0 1.7em 0;
  padding: 0;
  color: #000;
  line-height: 1em;
  letter-spacing: -.06em;
}

h3 {
  margin: 0;
  font-size: 1.4em;
  color: #3fbb8a; 
  font-family: oswald, arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.event {
  width: 320px;
  float: left;
  text-align: center;
}

.event p {
  border: 0px solid #999;
}